# Default ignored files
/shelf/
/.idea/workspace.xml
poker-client/target
poker-server/target
utils/target
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea/
sample.log
